@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: #695E7C;

}

li {
    list-style-type: none;
}


h4 {
    font-size: 16px;
}

.nav-item {
    font-size: 1.2rem;
    font-weight: 700;
    color: #695E7C;
}

.navbar-toggler:focus {
    box-shadow: none

    }

.nav-link:hover {
    color: cornflowerblue;
}

.navbar-brand {
    width: 155px;
    align-self: start;
    margin: 10px;
    padding: 10px;
}

.carrito {
    width: 14%;
    text-align: left;
    

}

.carrito img {
    width: 50px;
    padding-top: 10px;

}

main {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;

}

main img {
    width: 95%;
    margin: 10px;
    border-radius: 15px;

}

.contenedor-main {
    width: 90%;
}

/* main catálogo */

section {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.titProd {
    font-weight: 400;
    margin: 10px 10px 1px 10px;

}

.subtitProd {
    font-weight: 200;


}

.precioProd {
    font-weight: 600;
    font-size: 20px;
    
}

.footer {
    height: 110px;
    margin: 10px;
}

footer ul {
    max-width: 53px;
}

.medios img {
    max-width: 50px;
    padding: 5px;
}

i {
    color: #432B77;
    font-size: 40px;
    margin: 10px;
}

i:hover {
    color: cornflowerblue;
}

.fin {
    background-color: #432B77;
    padding: 15px;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    color: white;
}