.footer {
	height: 110px;
	margin: 10px;
}
footer {
	ul {
		max-width: 53px;
	}
}
.medios {
	img {
		max-width: 50px;
		padding: 5px;
	}
}
i {
	color: $color_3;
	font-size: 40px;
	margin: 10px;
	&:hover {
		color: $color_2;
	}
}
.fin {
	background-color: $background-color_3;
	padding: 15px;
	font-weight: 200;
	text-align: center;
	color: $color_4;
}
h4 {
	font-size: 16px;
}