@mixin parrafo {
    font-family: 'Montserrat', sans-serif;
    color: #695E7C;
}

.parrafoConEstilo {
    @include parrafo;
}

@mixin titulos {
    font-family: 'Montserrat', sans-serif;
    color: #432B77;
    font-size: 42px;
}

.titulosEstilo {
    @include titulos;
}