$color_1: #695E7C;
$color_2: cornflowerblue;
$color_3: #432B77;
$color_4: white;
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: lightgray;
$background-color_2: #fff;
$background-color_3: #432B77;